body{
        font-size: 22px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: darkgrey;
        margin: 0px;  
        }
.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}
.hero nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid black;
}
.hero nav a{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
.hero nav a:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
.hero nav ul{
    text-align: right;
    margin-right: 25px;
}
.hero-content{
    color: white;
    text-align: center;
    margin-top: 150px;

}
.hero-content h1{
    text-transform: uppercase;
    text-shadow: 3px 3px 5px black;
    font-size: 50px;
}
main{
    width: 80%;
    margin: auto;
}
.content-section{
    background-color: whitesmoke;
    padding: 15px;
    margin-top: 15px;
    border: thin solid;
}
.content-header{
    background-color: dimgray;
    color: white;
    font-size: 20px;
    padding: 1px;
    padding-left: 15px;
    text-shadow: 3px 3px 5px black;
    letter-spacing: 4px;
}
.content-footer{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background-color: black;
}